{% extends 'base.html.twig' %}

{# app.html.twig #}

{% block body %}
    <main>
        <section class="bg-image d-flex align-items-center justify-content-center text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col align-self-center">
                        <div class="bg-white my-5 mx-auto" style="border-radius: 1rem; max-width: 500px;">
                            <div class="text-center text-md-start d-flex flex-column justify-content-center">
                                <h1 class="my-5 display-3 fw-bold ls-tight px-3">
                                    <span style="color: black; font-family: serif; font-size: 50px; display: block; margin: 0 auto;"> About Us</span>
                                </h1>
                            </div>
                            <p class="px-3">
                                FoIntégrez Poly Digital School et suivez une formation en Génie informatique de Gestion qui vous permet de maitriser les différents moyens permettant d’extraire et de manipuler les données de votre entreprise. Grâce à notre formation, vous créerez des logiciels de gestion, vous mettrez en œuvre des applications informatiques dédiées au management (gestion administrative, commerciale, RH) de l'entreprise.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container border border-dark p-5">
                <div class="row">
                    <div class="col align-self-center">
                        <h1 style="color: black; font-family: serif; font-size: 50px; text-align: center; font-weight: bold;"> Notre histoire </h1>
                        <p style="color: black; font-family: sans-serif; font-weight: bold;">
                            Nos principaux leviers résident dans :
                        </p>
                        <ul style="color: black; font-family: sans-serif; font-weight: bold;">
                            <li>Une accréditation EUR-ACE qui accorde à nos futurs ingénieurs un niveau de diplôme conforme aux standards internationaux via l'excellence de nos formations continues et de nos programmes et qui leur permettront de recevoir, et de manière systématique, la totale reconnaissance de leurs diplômes partout en Europe.</li>
                            <li>Une infrastructure qui répond à de hautes exigences techniques et technologiques, avec plus de 40 laboratoires spécialisés tous équipés d'un matériel innovant qui obéit à la pointe d'une technologie avancée et rigoureuse.</li>
                            <li>Plus de 100 partenariats nationaux et internationaux. D'une part, des partenariats académiques dans le cadre d'une double diplomation et d'échanges un peu partout dans le monde et notamment en France et au Canada, permettant à nos étudiants une forte mobilité internationale, favorisant ainsi l'ouverture académique et sociale, d'autre part, des partenariats professionnels avec qui nous échangeons assidûment afin d’ajuster notre cursus académique au niveau des besoins du marché de l'emploi.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
