{# footer.html.twig #}

<footer style="background-color: #add8e6; color: #000000;">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    <a href="https://www.polytecsousse.tn/" class="nav-link" id="NavLink">
      DEGITAL SCHOOL
    </a>
    <a style="text-decoration: none;" class="text-body" href="https://instagram.com/polytechnique_sousse?igshid=YmMyMTA2M2Y=" target="_blank" id="Footercontainer">
      <label class="p-2">
        <i class="fab fa-instagram"></i> <!-- Include Font Awesome or other icon library classes for icons -->
      </label>
    </a>
    <a style="text-decoration: none;" class="text-body" href="https://fr-fr.facebook.com/EcolePolytechniqueSousse/" target="_blank" id="Footercontainer">
      <label class="p-2">
        <i class="fab fa-facebook"></i> <!-- Include Font Awesome or other icon library classes for icons -->
      </label>
    </a>
    <a style="text-decoration: none;" class="text-body" href="https://www.linkedin.com/company/ecole-polytechnique-sousse/" target="_blank" id="Footercontainer">
      <label class="p-2">
        <i class="fab fa-linkedin"></i> <!-- Include Font Awesome or other icon library classes for icons -->
      </label>
    </a>
  </div>
</footer>
